{% extends 'main/base.html' %}
{% block content %}
<table class="table table-hover table-striped table-bordered dataTable" id="mytable">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Email</th>
        <th scope="col">File</th>
        <th scope="col">Image</th>
    </tr>
    </thead>
    <tbody>
        {% for i in data %}
        <tr>                   
            <td>{{i.id}}</td> 
            <td>{{i.name}}</td>
            <td>{{i.phonenumber}}</td>
            <td>{{i.email}}</td>
            <td>{{i.file}}</td>
            <td><img src="/media/{{i.image}}" alt="Profile Picture"></td>                   
        </tr>
        {% endfor %}
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script type="text/JavaScript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/JavaScript" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready( function () {
        $('#mytable').DataTable();
    } );
</script>
{% endblock %}
